body {
  font-family: system-ui, sans-serif;
  background: #f2f4f8;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #cf404c;
  text-align: center;
}
h2 {
  margin-top: 2rem;
  color: #004773;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 70px;
}

button {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background: #cf404c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
button:hover {
  background: #912e36;
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  width: auto !important;
  margin-right: 0.5rem;
  transform: translateY(1px); /* lehká úprava pro perfektní zarovnání */
}

label:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button[type="submit"] {
  display: block;
  margin: 2rem auto 0 auto;
  padding: 1.1rem 2rem;
  font-size: 1.1rem;
}

#result {
  background: #e9f8e9;
  padding: 1.5rem;
  border: 1px solid #99c699;
  border-radius: 12px;
  margin-top: 2rem;
}

/*urgenty seznam*/
#urgentSelector {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
}

#urgentSearch {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.urgent-item {
  padding: 0.7rem 0;
  border-bottom: 1px solid #eee;
}

.urgent-item:last-child {
  border-bottom: none;
}

.urgent-item a {
  color: #0077c7;
  text-decoration: none;
}

.urgent-item a:hover {
  text-decoration: underline;
}
